[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
dj-database-url = "*"
gunicorn = "*"
whitenoise = "*"
"psycopg2" = "*"
django = "==2.0.8"
tweepy = "*"
social-auth-app-django = "*"

[dev-packages]

[requires]
python_version = "3.6"
