@charset 'UTF-8';

@media screen and (max-width: 800px) {
  p {
    font-size: 1rem;
    line-height: 1.5;
  }

  /* header */
  header {
    padding: 1rem;
  }

  .header-logo {
    h1 {
      font-size: 1.2rem;
    }
  }

  .header-share {
    a {
      font-size: .5rem;
      padding: .5rem;
    }
  }

  /* toppage */
  .top-wrapper {
    padding: 4rem 1.5rem;

    h1 {
      font-size: 2.2rem;
      line-height: 1.4;
      white-space: pre-wrap;
    }
  }

  .descriptions {
    padding: 0 1.5rem;

    h2 {
      font-size: 2rem;
    }
  }

  .description {
    margin-bottom: 5rem;

    h3 {
      font-size: 1.5rem;
      margin: .5rem 0;
    }
  }

  /* footer */
  footer {
    padding: .8rem;
  }

  .footer-logo {
    display: none;
  }

  .copyright {
    font-size: .2rem;
  }

  .footer-contact {
    a {
      font-size: .1rem;
      padding: .3rem;
    }
  }
}