@charset 'UTF-8';

@media screen and (max-width: 740px) {
  p {
    font-size: 1rem;
    line-height: 1.5;
  }

  /* header */
  header {
    padding: .8rem;
  }

  .header-logo {
    h1 {
      font-size: 1.3rem;
    }
  }

  .header-menu {
    a {
      font-size: .8rem;
    }
  }

  /* toppage */
  .top-wrapper {
    padding: 4rem 1.5rem;

    h1 {
      font-size: 2.2rem;
      line-height: 1.4;
      white-space: pre-wrap;
    }
  }

  .descriptions {
    padding: 0 1.5rem;

    h2 {
      font-size: 2rem;
    }
  }

  .description {
    margin-bottom: 5rem;

    h3 {
      font-size: 1.5rem;
      margin: .5rem 0;
    }
  }

  /* common（複数回使うやつはここへ） */
  .heading {
    font-size: 1.5rem;
  }

  .message {
    font-size: 1.3rem;
  }

  /* result page */
  .result-img {
    width: 70%;
  }

  .result-greeting {
    p {
      margin: 2rem 0;
    }
  }

  .img-rounded {
    width: 70%;
  }

  /* staffs */
  .stuff-wrapper {
    display: block;
  }

  .point-wrapper {
    width: 100%;
  }

  .staff {
    width: 100%;
  }

  .stuff-list-wrapper {
    width: 100%;
  }

  /* footer */
  footer {
    padding: .8rem;
  }

  .footer-logo {
    display: none;
  }

  .copyright {
    font-size: .2rem;
  }

  .footer-contact {
    a {
      font-size: .1rem;
      padding: .3rem;
    }
  }
}