@charset 'UTF-8';

// TODO できればヘッダーとフッターの共通部分はmixin化できると良い

/* 関数 */
@function rem($px) {
  @return ($px / 16px) * 1rem;
}

/* color */
$basic_color: #A1E1EF;
$twit_color: #55ACEE;
$yellow: #FFFBA0;
$black: #454141;
$grey: #7F7F7F;

/* reset css */
html {
  color: $black;
  background: #fff;
}

body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
legend,
input,
textarea,
p,
blockquote,
th,
td {
  margin: 0;
  padding: 0;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
fieldset,
img {
  border: 0;
}

address,
caption,
cite,
code,
dfn,
em,
strong,
th,
var {
  font-style: normal;
  font-weight: normal;
}

ol,
ul {
  list-style: none;
}

caption,
th {
  text-align: left;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  color: $black;
  font-size: 100%;
  font-weight: normal;
}
q:before,
q:after {
  content: "";
}
abbr,
acronym {
  border: 0;
  font-variant: normal;
}
/* to preserve line-height and selector appearance */
sup {
  vertical-align: text-top;
}
sub {
  vertical-align: text-bottom;
}
input,
textarea,
select {
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
}
/*to enable resizing for IE*/
input,
textarea,
select {
  *font-size: 100%;
}
/*because legend doesn't inherit in IE */
legend {
  color: $black;
}
/* YUI CSS Detection Stamp */
#yui3-css-stamp.cssreset {
  display: none;
}

/*  original css start */
* {
  box-sizing: border-box;
}

body {
  font-family: -apple-system, "Segoe UI", "Avenir", "Helvetica Neue",
    "Helvetica", "Arial", "游ゴシック", YuGothic, "ヒラギノ角ゴ Pro",
    "Hiragino Kaku Gothic Pro", "メイリオ", "Meiryo", sans-serif;
}

a {
  color: $black;
  text-decoration: none;

  &:hover {
    text-decoration: none;
    color: $black;
  }
}

p {
  font-size: 1.2rem;
  line-height: 1.7;
}

/* header */
header {
  display: flex;
  justify-content: space-between;
  background-color: $basic_color;
  padding: rem(20px) rem(36px);
}

.header-logo {
  h1 {
    font-size: 2rem;
    font-weight: 600;
    margin-top: .3rem;
  }
}

.header-share {
  a {
    display: inline-block;
    border: solid rem(1px) $grey;
    border-radius: .2rem;
    color: $grey;
    font-size: .8rem;
    font-weight: bold;
    padding: .8rem;

    &:hover {
      background-color: lighten($basic_color, 10%);
    }
  }
}

/* toppage */
.top {
  background-color: $yellow;
}

.top-wrapper {
  padding: 6rem 0;

  h1 {
    font-size: 3rem;
    font-weight: 800;
  }

  p { white-space: pre-wrap; }
}

.descriptions {
  h2 {
    text-align: center;
    font-size: 2.5rem;
    font-weight: 600;
  }
}

.description {
  h3 {
    font-size: 1.8rem;
    font-weight: 600;
    margin: 1.5rem 0;
  }

  p {
    font-size: 1rem;
    white-space: pre-wrap;
  }
}

/* common */
.heading {
  font-size: 2.5rem;
  font-weight: 800;
}

.logout-message {
  font-size: .7rem;
}

.logout {
  font-size: .7rem;
}

.underline {
  background: linear-gradient( transparent 70%, #e8a2a2 0% )
}

/* ordered page */
.ordered-message {
  font-size: 2rem;
  white-space: pre-wrap;
}


/* footer */
footer {
  display: flex;
  justify-content: space-between;
  flex-grow: 2;
  background-color: $basic_color;
  padding: rem(20px) rem(36px);
}

.footer-logo {
  h1 {
    font-size: 1.5rem;
    font-weight: 600;
    margin-top: .5rem;
  }
}

.copyright {
  color: $grey;
  margin-top: .5rem;
}

.footer-contact {
  a {
    display: inline-block;
    border: solid rem(1px) $grey;
    border-radius: .2rem;
    color: $grey;
    font-size: .8rem;
    font-weight: bold;
    padding: .7rem;

    &:hover {
      background-color: lighten($basic_color, 10%);
    }
  }
}