{% load static %}
<!DOCTYPE html>
<html lang="ja">
  <head>
    <!-- ? ここにタイトルの基本形を登録して他のテンプレートで使い回せないかな〜 -->
    <title>{% block title %}{% endblock %}</title>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- OGP -->
    {% block ogp %}{% endblock %}

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <!-- FontAwsome CSS -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
    <!-- Original CSS -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/responsive.css' %}">

    <!-- favicon -->
    <link rel="icon" href="{% static 'images/favicon.ico' %}">
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-127030962-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-127030962-1');
    </script>

  </head>
  <body>
    <header>
      <div class="header-logo">
        <a href="/"><h1>お風呂代理店♨️🐤</h1></a>
      </div>
      <div class="header-share">
        <a href="https://twitter.com/share?url=https://ofuro-agency.herokuapp.com&related=twitterapi%2Ctwitter&hashtags=お風呂めんどいときはお風呂代理店へ&text=お風呂代理店" target="_blank" onclick="window.open(this.href, 'tweetwindow', 'width=650, height=470, personalbar=0, toolbar=0, scrollbars=1, sizable=1'); return false;"><span class="fab fa-twitter"></span> シェアする</a>
      </div>
    </header>
    <main>
    {% block content %}{% endblock %}
    <div class="bg-light px-4 py-5">
      <div class="container">
        <section class="terms">
          <h3 class="mb-3">本サービスのご利用にあたって</h3>
          <ol style="list-style-type: decimal">
            <li>お風呂代理店♨️🐤は無料でご利用いただけます。</li>
            <li>お風呂代行担当スタッフは選べません。お気に入りのスタッフがでるまで何度でもご利用ください。</li>
            <li>以下の点に注意してご利用いただけますと嬉しいです...🐤！</li>
            <ul>
              <li>- 画像の無断転載禁止（関連URLと一緒にシェアは大歓迎です)</li>
              <li>- 誹謗・中傷をしない</li>
              <li>- バグを見つけたらそっと管理者に教える</li>
            </ul>
            <li>お風呂代行スタッフ絶賛募集中です！詳しくは<a class="text-primary border-bottom border-primary" href="https://twitter.com/iju_miho" target="_blank"> 運営者のツイッターDM </a>までお問い合わせください！</li>
            <li>応援メッセージ、バグ報告、改善要望、その他何でも運営者までお気軽にご連絡ください！※ 匿名で送れます。</li>
            <a href="https://marshmallow-qa.com/iju_miho" class="btn btn-primary" target="_blank">運営者に連絡する</a>
          </ol>
        </section>
      </div>
    </div>
    </main>
    <footer>
      <div class="footer-logo">
        <a href="/"><h1>お風呂代理店♨️🐤</h1></a>
      </div>
      <p class="copyright"><small>&copy; 2018 Ofuro Agency</small></p>
      <div class="footer-contact">
        <a href="https://marshmallow-qa.com/iju_miho" target="_blank"><span class="fab fa-twitter"></span> <span data-toggle="tooltip" title="何か不具合などございましたらお気軽に運営者にお問い合わせください！"
          data-placement="top">お問い合わせ</a>
      </div>
    </footer>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <!-- ツールチップ用スクリプト -->
    <script>
      $(function () {
        'use strict';
        $('[data-toggle="tooltip"]').tooltip();
      });
    </script>
  </body>
</html>