{% extends 'base.html' %}
{% load static %}

{% block title %}申し込み完了 - お風呂代理店{% endblock %}

{% block ogp %}
<meta property="og:title" content="お風呂代理店">
<meta property="og:type" content="website">
<meta property="og:image" content="https://ofuro-agency.herokuapp.com/static/images/ofuro-duck01.png">
<meta property="og:site_name" content="お風呂がめんどくさいときにどうぞ">
<meta property="og:description" content="お風呂めんどくさいときってありますよね？そんなとき、誰かが代わりに入ってくれれば...ここはそんなあなたの夢を叶える場所です">
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:site" content="@ofuro_agency">
<meta name="twitter:title" content="お風呂代理店">
<meta name="twitter:description" content="お風呂めんどくさいときってありますよね？そんなとき、誰かが代わりに入ってくれれば...ここはそんなあなたの夢を叶える場所です">
<meta name="twitter:image:src" content="https://ofuro-agency.herokuapp.com/static/images/ofuro-duck01.png">
{% endblock %}

{% block content %}
  <!-- TODO ここにできればユーザネーム入れたい -->
  <div class="container text-center my-5 py-5">
    <h2 class="heading">＼ご注文承りました🐤♨️／</h2>
    <img src="{% static 'images/ofuro-duck02.png' %}" alt="" class="py-4">
    <p class="white-space message">お風呂代行完了後、
  <span class="underline">Twitterにて</span>ご連絡いたしますので
  しばしお待ちください🐤</p>

  <!-- login_requiredのページなのでログインしてるか確認しなくて良い -->
    <div class="text-sm-right">
      <p class="logout-message mt-5 mb-2 pt-5">別のアカウントで試したいときは一旦ログアウトしてね</p>
      <a href="logout" class="logout btn btn-secondary text-white">ログアウト</a>
    </div>
  </div>
{% endblock %}