{% extends 'base.html' %}
{% load static %}

{% block title %}申し込み完了 - お風呂代理店{% endblock %}

{% block ogp %}
<meta property="og:title" content="お風呂代理店">
<meta property="og:type" content="website">
<meta property="og:image" content="https://ofuro-agency.herokuapp.com/static/images/ofuro-duck01.png">
<meta property="og:site_name" content="お風呂がめんどくさいときにどうぞ">
<meta property="og:description" content="お風呂めんどくさいときってありますよね？そんなとき、誰かが代わりに入ってくれれば...ここはそんなあなたの夢を叶える場所です">
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:site" content="@ofuro_agency">
<meta name="twitter:title" content="お風呂代理店">
<meta name="twitter:description" content="お風呂めんどくさいときってありますよね？そんなとき、誰かが代わりに入ってくれれば...ここはそんなあなたの夢を叶える場所です">
<meta name="twitter:image:src" content="https://ofuro-agency.herokuapp.com/static/images/ofuro-duck01.png">
{% endblock %}

{% block content %}
  <!-- TODO ここもできればユーザネームにしたい -->
  <h2>＼ご注文承りました🐤♨️／</h2>
  <!-- ? 画像は後ほど変えるかも -->
  <img src="{% static 'images/ofuro-duck02.png' %}" alt="">
  <p>
    お風呂代行完了後に<br>
    Twitterにてご連絡いたしますのでしばしお待ちください🐤
  </p>
  <a href="logout"><button type="button" >ログアウト</button></a>
{% endblock %}