{% extends 'base.html' %}
{% load static %}

{% block title %}スタッフ一覧 - お風呂代理店{% endblock %}

{% block ogp %}
{% endblock %}

{% block content %}
<section class="top">
  <div class="container text-center py-5">
    <h2 class="heading">スタッフ一覧</h2>
    <ul>
      {% for stuff in stuffs %}
      <li class="staff">
        <img class="icon-image" src="{{ stuff.image_L.url }}" alt="">
        <h3>{{ stuff }}</h3>
      </li>
      <form id="order-form" class="" action="{% url 'ofuro:page_transition' %}" method="POST" onsubmit="return resetPoint();">
        {% csrf_token %}
        <button type="submit" class="is-hidden orderBtn" name="order" value="{{ stuff.result_id }}">指名代行</button>
      </form>
      {% endfor %}
    </ul>
  </div>
</section>
{% endblock %}

{% block script %}
<script src="{% static 'js/specialOrder.js' %}"></script>
{% endblock %}