{% extends 'base.html' %}
{% load static %}

{% block title %}スタッフ一覧 - お風呂代理店{% endblock %}

{% block ogp %}
<meta property="og:title" content="お風呂代理店">
<meta property="og:type" content="website">
<meta property="og:image" content="https://ofuro-agency.herokuapp.com{% static 'images/piyogoro.png' %}">
<meta property="og:site_name" content="お風呂めんどいときはお風呂代理店へ">
<meta property="og:description" content="お風呂めんどくさいときってありますよね？そんなとき、誰かが代わりに入ってくれれば...ここはそんなあなたの夢を叶える場所です">
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:site" content="@ofuro_agency">
<meta name="twitter:title" content="お風呂代理店">
<meta name="twitter:description" content="お風呂めんどくさいときってありますよね？そんなとき、誰かが代わりに入ってくれれば...ここはそんなあなたの夢を叶える場所です">
<meta name="twitter:image:src" content="https://ofuro-agency.herokuapp.com{% static 'images/piyogoro.png' %}">
{% endblock %}

{% block content %}
<div class="top">
  <div class="container text-center py-5">
    <h2 class="heading">スタッフ一覧</h2>
    <a href="https://goo.gl/forms/Lb3ctDNGVzd9rrLn1" class="text-primary border-bottom border-primary">スタッフになりたい方はこちら</a>
    <div class="staff-wrapper">
      <section class="card point-wrapper point-text my-3">
        <h2 class="card-header font-weight-bold">お風呂POINT</h2>
        <div class="card-body">
          <p id="pointNav" class="card-text font-weight-bold"></p>
        </div>
      </section>
      <section class="staff-list-wrapper">
        <ul>
          {% for staff in staffs %}
          <li class="card my-3 bg-light">
            <!-- リレーションを参照し対応するスタッフの紹介URLを取得する -->
            <!-- staff.guestintroduce_set.valuesはクエリセットを返すので繰り返し処理を使わないとカラムの値を参照できなかった -->
            <div class="card-header">
              <h3 class="font-weight-bold staff-name mb-3">{{ staff }}</h3>
              {% for url in staff.guestintroduce_set.values %}
              {% if url.introduce_url  %}
              <a href="{{ url.introduce_url }}" class="btn btn-primary">{{ url.introduce_text }}</a>
              {% endif %}
              {% endfor %}
            </div>
            <div class="card-body staff">
              <img class="icon-image" src="{{ staff.image_L.url }}" alt="">
              <form id="order-form" class="" action="{% url 'ofuro:page_transition' %}" method="POST" onsubmit="return resetPoint();">
                {% csrf_token %}
                <button type="submit" class="is-hidden orderBtn btn btn-danger" name="order" value="{{ staff.result_id }}">指名代行</button>
              </form>
            </div>
          </li>
          {% endfor %}
        </ul>
      </section>
    </div>
  </div>
</div>
{% endblock %}

{% block script %}
<script src="{% static 'js/specialOrder.js' %}"></script>
<script src="{% static 'js/showPoint.js' %}"></script>
{% endblock %}