{% extends 'base.html' %}
{% load static %}

{% block title %}お風呂代理店{% endblock %}

{% block ogp %}
<meta property="og:title" content="お風呂代理店">
<meta property="og:type" content="website">
<meta property="og:image" content="https://ofuro-agency.herokuapp.com/static/images/ofuro-duck01.png">
<meta property="og:site_name" content="お風呂めんどいときはお風呂代理店へ">
<meta property="og:description" content="お風呂めんどくさいときってありますよね？そんなとき、誰かが代わりに入ってくれれば...ここはそんなあなたの夢を叶える場所です">
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:site" content="@ofuro_agency">
<meta name="twitter:title" content="お風呂代理店">
<meta name="twitter:description" content="お風呂めんどくさいときってありますよね？そんなとき、誰かが代わりに入ってくれれば...ここはそんなあなたの夢を叶える場所です">
<meta name="twitter:image:src" content="https://ofuro-agency.herokuapp.com/static/images/ofuro-duck01.png">
{% endblock %}

{% block content %}
  <div class="top">
    <div class="top-wrapper container">
      <h1>お風呂入るの
めんどくさいな</h1>
      <p class="white-space mt-4">そういうときってありますよね？
そんな「お風呂めんどい」時は当店におまかせください！
あなたのお風呂を代行します。</p>
    </div>
  </div>

  <!-- // TODO このdivはBootstrapのcolを使用してPCやタブレット画面のときは横並びにする -->
  <section class="descriptions container my-5">
    <h2 class="text-sm-center pt-5 mb-3">ご利用方法</h2>
    <div class="row my-5">
      <section class="description col-sm">
        <!-- ? 画像は後ほど変えるかも -->
        <img src="{% static 'images/ofuro-mendoi.png' %}" alt="" width="300" height="300">
        <h3>1.お風呂めんどくさい</h3>
        <p class="white-space">ああ、もうこんな時間だ。
お風呂はいらなきゃと思えば思うほど、
めんどくさくなるのはなんで？</p>
      </section>
      <section class="description col-sm">
        <!-- ? 画像は後ほど変えるかも -->
        <img src="{% static 'images/ofuro-order.jpg' %}" alt="" width="300" height="300">
        <h3>2.お風呂代行を申請する</h3>
        <p class="white-space">そうだ、お風呂代理店を使おう！
Webサイトで代行申請すればいいだけ！
めんどかったお風呂が
こんなに簡単になるなんて...！！</p>
      </section>
      <section class="description col-sm">
        <!-- ? 画像は後ほど変えるかも -->
        <img src="{% static 'images/ofuro-duck01.png' %}" alt="" width="300" height="300">
        <h3>3.代わりにお風呂入ります</h3>
        <p class="white-space">当店自慢のスタッフがあなたの代わりに入浴♨️
代行完了後、担当スタッフから連絡が来ます
※ 当店スタッフは
精神と時の風呂をマスターしており、
一瞬でお風呂に入浴してきます。
注文してすぐに入浴完了しても驚かないでね。
</p>
      </section>
    </div>
  </section>

  <div class="container text-center my-5 py-sm-5">
    <p class="mt-5 mb-2 font-weight-bold">＼めんどいお風呂を代行してもらおう🐤♨️／</p>
    <a href={{ result_urls|random }}  class="btn btn-danger text-white font-weight-bold mb-5 p-sm-3"><span class="fas fa-bath"></span> お風呂めんどい...代わりに入ってもらお</a>
    <p class="mt-5 mb-2">＼お風呂代理店のことをめんどくさがりな人たちに教えてあげよう!／</p>
    <a href="https://twitter.com/share?url=https://ofuro-agency.herokuapp.com&related=twitterapi%2Ctwitter&hashtags=お風呂めんどいときはお風呂代理店へ&text=お風呂代理店" class="btn btn-primary mb-sm-5" target="_blank" onclick="window.open(this.href, 'tweetwindow', 'width=650, height=470, personalbar=0, toolbar=0, scrollbars=1, sizable=1'); return false;"><span class="fab fa-twitter"></span> お風呂代理店をシェアする</a>

    <h2 class="heading mt-5 mb-3 pt-5">お風呂代理店ゲストスタッフ</h2>
    <div class="container text-center w-75">
      <a class="twitter-grid" href="https://twitter.com/iju_miho/timelines/1050002819984441345?ref_src=twsrc%5Etfw">お風呂代理店コレクション</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
    </div>
    <!-- ログインしてる場合だけ見せる
    {% if user.is_authenticated %}
    <div class="text-sm-right">
      <p class="logout-message mt-5 mb-2 pt-5">別のアカウントで試したいときは一旦ログアウトしてね</p>
      <a href="logout" class="logout btn btn-secondary text-white">ログアウト</a>
    </div>
    {% endif %} -->
  </div>
{% endblock %}