{% extends 'base.html' %}
{% load static %}

{% block title %}しばしお待ちください - お風呂代理店{% endblock %}

{% block ogp %}
<meta property="og:title" content="ただいま代行スタッフが全員入浴中">
<meta property="og:type" content="website">
<meta property="og:image" content="https://ofuro-agency.herokuapp.com/static/images/dogeza.png">
<meta property="og:site_name" content="ただいま代行スタッフが全員入浴中です">
<meta property="og:description" content="時間を置いてお試しいただくか、頑張って自分で入浴いただけますと幸いです🐤">
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:site" content="@ofuro_agency">
<meta name="twitter:title" content="お風呂代理店">
<meta name="twitter:description" content="時間を置いてお試しいただくか、頑張って自分で入浴いただけますと幸いです🐤">
<meta name="twitter:image:src" content="https://ofuro-agency.herokuapp.com/static/images/dogeza.png">
{% endblock %}

{% block content %}
  <div class="container text-center my-5 py-5">
    <h2 class="heading">＼404 Page Not Found／</h2>
    <img src="{% static 'images/dogeza.png' %}" alt="" class="my-3">
    <p class="white-space message">指定されたスタッフは当店にはおりません。
トップページからお風呂代行注文をやり直してください。
もしやり直してもダメだった場合は、バグなので運営者にお問い合わせください。
    </p>
  </div>
{% endblock %}