{% extends 'base.html' %}
{% load static %}

{% block title %}しばしお待ちください - お風呂代理店{% endblock %}

{% block content %}
  <div class="container text-center my-5 py-5">
    <h2 class="heading">＼ただいま代行スタッフが全員入浴中です／</h2>
    <img src="{% static 'images/dogeza.png' %}" alt="" class="my-3">
    <p class="white-space message">時間を置いてお試しいただくか、
頑張って自分で入浴いただけますと幸いです🐤
    </p>

    <!-- login_requiredのページなのでログインしてるか確認しなくて良い -->
    <div class="text-sm-right">
      <p class="logout-message mt-5 mb-2 pt-5">別のアカウントで試したいときは一旦ログアウトしてね</p>
      <a href="logout" class="logout btn btn-secondary text-white">ログアウト</a>
    </div>
  </div>
{% endblock %}